

html, body {
  width: 100%;
  height:100%;
}

*{
  box-sizing: border-box;
}

body {
 background-color: #121212;
 color: #FFFFFF;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 position: relative;
}

.wapper{
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  padding: 5%;
  overflow: hidden;
}

.inner_wapper{
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2;
  padding: 5%;
  color: #FFFFFF;
  background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
  backdrop-filter: blur(15px);
  border-radius: 24px;
  width: 100%;
  flex-grow: 1;
  text-align: left;
}

.result{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wapper::after{
  content: '';
  position: absolute;
  width: 723.06px;
  height: 723.06px;
  left: -365px;
  top: -169.06px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  opacity: 0.8;
  filter: blur(100px);
  transform: rotate(-17.38deg);z-index: -1;
}

.wapper::before{
  content: '';
  position: absolute;
  width: 606px;
  height: 606px;
  left: 95%;
  bottom:-5%;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1;
}



h1{
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

p{
  font-size: 14px;
}

.flex{
  display: flex;
}

input[type='text'] {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 20px;
  margin:30px 15px 30px 0px;
  width: 100%;
}

button {
  background: #F2672E;
  border-radius: 4px;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin:30px 0px;
}


img {
  width: 100%;
  display: block;
  margin: 0 auto;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media screen and (min-width:767px) {
  h1{
    font-size: 64px;
  }

  p{
    font-size: 18px;
  }

  input[type='text'] {
    max-width: 600px;
    padding: 14px 20px;
    font-size: 24px;
    margin:30px 15px 30px 0px;
  }
}
